---
BasedOnStyle: WebKit
Standard: Cpp11

UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All
IndentCaseLabels: true
SpaceBeforeParens: Never
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: false
BreakBeforeInheritanceComma: false

AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Middle

SortIncludes: false

AccessModifierOffset: -4
...
