CMakeCache.txt
CMakeFiles
CMakeTmp
cmake_install.cmake
cmake_uninstall.cmake
Makefile
kvi_sysconfig.h
kvi_sysbuildinfo.h
lib
b
build
CMakeLists.txt.user
qtcreator-build
CMakeLists.txt.user*
preinstalled.kvc
/data/resources_win32/version.h
.DS_Store
*.ssexwsp
