language: cpp
matrix:
    include:
        - os: linux
          env: WANT_KDE=NO
          compiler: gcc
        - os: linux
          env: WANT_KDE=YES
          compiler: gcc
        - os: linux
          env: DEBUILD=YES
          compiler: gcc
        - os: osx
          compiler: clang
sudo: required
dist: trusty
before_install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cat /proc/cpuinfo /proc/meminfo; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then lsb_release -a; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sw_vers; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sysctl -a | grep cpu; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sysctl -a | grep mem; fi
    - if [[ "$TRAVIS_REPO_SLUG" == "kvirc/KVIrc" && "$TRAVIS_PULL_REQUEST" == "false" && "$TRAVIS_BRANCH" == "master" ]]; then openssl aes-256-cbc -K $encrypted_da8de0aafbfc_key -iv $encrypted_da8de0aafbfc_iv -in .travis-github.ssh.enc -out ~/kvirc-github-key -d; fi
    - export encrypted_da8de0aafbfc_key=no
    - pwd
install:
    - CMAKE_ARGS=""
    - |
        if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
            # want cmake newer than in ubuntu 14.04
            sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
            sudo apt-get update
            sudo apt-get install -y cmake libperl-dev libenchant-dev qtmultimedia5-dev libqt5webkit5-dev libqt5svg5-dev libqt5x11extras5-dev libphonon4qt5-dev libphonon4qt5experimental-dev

            if [ -z "$DEBUILD" ]
            then
              CMAKE_ARGS="$CMAKE_ARGS -DWANT_KDE=$WANT_KDE"
              if [[ "$WANT_KDE" == "YES" ]]; then
                sudo apt-get install -y kdelibs5-dev
              fi
    
              # for ./.travis-coverity-scan.py
              sudo apt-get install -y python3-yaml
            else
              sudo apt-get install -y devscripts debhelper zlib1g-dev libx11-dev libxrender-dev libssl-dev qttools5-dev-tools qttools5-dev pkg-config libxss-dev python-dev
            fi
        fi
    - |
        if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
          brew update
          brew install qt5 enchant
          # want cmake newer than by default in travis osx
          brew upgrade cmake
          export CMAKE_FRAMEWORK_PATH="$CMAKE_FRAMEWORK_PATH:$(brew --prefix qt5)"
        fi
script:
    - |
        if [ -z "$DEBUILD" ]
            then
            mkdir build
            cd build
            cmake $CMAKE_ARGS .. || exit 1
            make -j3  || exit 1
            if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo make install; fi
            if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then make install; fi
            ls -l
            cd ..
        else
            cd dist
            export DEB_BUILD_OPTIONS="parallel=3"
            bash build_debian.sh  || exit 1
            cd build && sudo dpkg -i *.deb
            ls -l
            cd ../..
        fi
after_success:
    - test -r .travis_after_all.py && python .travis_after_all.py || echo No .travis_after_all.py found
    - test -r .to_export_back && echo $(cat .to_export_back) || echo No .to_export_back found
    - export DUMMY_VAR=dummy-value $(cat .to_export_back)
    - |
          if [ "$BUILD_LEADER" == "YES" ] && [ "$BUILD_AGGREGATE_STATUS" == "others_succeeded" ] && [ "$TRAVIS_REPO_SLUG" == "kvirc/KVIrc" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
              echo "All builds passed!"
              mkdir -p ~/.ssh
              chmod 0600 ~/kvirc-github-key
              cp .travis.ssh ~/.ssh/config
              git config --global user.email "kvirc-travis@users.noreply.github.com"
              git config --global user.name "kvirc-travis"
              ./.travis-coverity-scan.py
          else
              echo "Not leader"
          fi

    - |
          if [ "$TRAVIS_OS_NAME" == "osx" ]; then
              npm update -g npm
              npm install -g appdmg
              appdmg -v dist/osx_dmg.json KVIrc.dmg
          fi

    # Only upload to kvirc.staticfox.net if this is a commit to master
    - |
          if [ "$TRAVIS_OS_NAME" == "osx" ] && [ "$TRAVIS_REPO_SLUG" == "kvirc/KVIrc" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
              kvi_shorthash=`printf "%s" "$TRAVIS_COMMIT" | dd bs=1 count=7 2>/dev/null`
              kvi_version="$(grep -i "^set(VERSION_RELEASE .*)$" CMakeLists.txt | egrep -o '[0-9\.]' | tr -d '\n')";
              git fetch --unshallow
              kvi_commit_number="$(git rev-list --count ${TRAVIS_COMMIT})"
              curl --ftp-create-dirs -T KVIrc.dmg -u $FTP_USER:$FTP_PASS ${FTP_HOST}KVIrc-${kvi_version}-dev-git-${kvi_commit_number}-g${kvi_shorthash}.dmg
          fi
env:
  global:
  - secure: Zn6G9cdrsjSBMlKIDef/DiLYBP9tlAn9PAXbbTOhz3giuw8xlGsJhi9lVXkT5vTU30ZmdsjG5c0NgQabF8Tye9Fvbc04HU+2biN2rpDTrzjDIfH5sp6cexQ4rr0ivGfQ2ySIALPEmafF8FdkOmtb6G62J/KmqH0wRRxhuHSxbnGfp28R86b347dtZ0khlNJW+HxM7/ZEMlqD4w0s5p95h+HP5YA085oXXtwge2zP0z+HEiC8TOxXvne8qMD/sHUNsU7r/OzgpkOXPdNHnnxEKtoefSv8VtqS9gj2/4bkQFL2CvphQaoPlRzMZeB5y1TatkgK9bcu7cwnyeHWDlhqG5x6vpEpAPk9STwzzteJtiY+3cq1ZOIm6S5KBy/3OMcpjKfpbMTk4sVabEN35A2ePfuTxHLc9fX9dP1zymABqzfHY3eFO6FZ7ljkSZKZF9R9VntI4bW0JstDeEGU+Xiz3rq10RcEGD4+cpAKbY6SQiYHf4+6daI2WqpDEUZRoM3NLeozCecFI6J6T1fECTimxZaSPhVMyADIBA6rqjP4IApSBUdTWKZnYLSJq9xSfQAcFXWKECrRnktC5B4xksNFUWpd9uUbF7H6YPzs02wlEPTTx9f94rKdMPU/CV0qh89xCmCCf3TKycmDYDExj+xamoTAl/+hNq4cPRgrU/0SEG8=
  - secure: iiSH7bJRmBpNvJWCjZBoiXW2hTOVsNYpopKJ//Gr8EvGGSArtNFjO9CqTlfkGOsQVB1GgshV1HeYO+9966z1NA9qLpS3KXtHZL0b3bJPOMp/7/foxRg3WM/vwq9iL8W7meQ7soEkMbHnRSNJbkCfTEnkYLQgAl3TBPfwlcze3lZrphc5YtKdX/jS1je+mqEFw/SkvKvm2SzCudl/gbq7sk/fzw1LQnvcvaVvDfTkbGTfbdB7CWkEAmibtf2ot/1Iho6klCPJH8EzUNSTUpNjeloY2ih+o583fzS/nuSj0rNOynNzVbiKyuirQj84X5ziDGXE4FhDIgUy/51M/3tnMVnzoXp+FsL7Kes8sJKN+uPWJB8N8oo/zMNLeVh06dBza1qufT4JWwdN793bYqLlrD4w2YjDdsu0qaP8juJyg1NDSecF2VmxrCvKA2qKlsQxUFvw+NCCG+EvrIX1wAM0e418AoCADxf+tO7Irrj4Hzn3ZtIEWCslNxOmxIOQdwxfZBYib2Ih9jGNkh/EacIXdfUmC/IhW7y12Og5aTxVJXJIaqT3x9Uj6ZrEvcaPzYKI4ahtypxLXS2lIXkVWlFPPzVCWlKJyLp6NnQJlXT5O3L4AN+tEpyT0By3DJtQt7zWZGXTrsK4lL4OtY6RpmEksa7PKOEZ6URx2sMj3bo87Oo=
  - secure: r+IE4iYTswgSvRzslc56Lcgj4et9iVRxHerB6Ze9LY1gec0HIAG6DHjJr9T3EpVLlteksV5B1bxyb48frhNEmtmApHYSAzB15qUUnUap3h6MEC6VmZ/X3zEqCtahgPNfWJZo08PII2011PuB0xDw4WHnJ7wFu9nx3fwOmCUKNhvLfNhTHg43HUeROlUDuHt9QfbMpGUQNEQgPdynA2Y9a4pbp4JR58lzLGiIulrapj2T8ngDes8tY2XCsXitZjdZyfpSBdaotMpCK42uPemyC7/nRZA4Zq+0OI30Kkod0fhkGf2Mga2sd9KEk4ZauRsoK3pEix3yxsF5q+d4Y/Zb6c7aKbHpgUkGwD5ZFPpQ5YJY3u8fuDjBZd65IYSjR472vxeaFMRYT8Dmi9otAQcZO7olcm1pT2HmRuJmR/5ExDD6Zxc0Q71b7twDL6rb/WpK+TwDoksASsQ53Sp0Cfmpxeu1Z5AxIsf0APlbboI9py6z6LxPwLms8+SpHQuNAfk1vVzGruf0zyMGl40ZusDgJjr5Arz8yrN/VVPg8CZbvNsctBCMMN/rFFYYh4ssfAxa8fftu5/vcZhkoYKqURBMEocsTaimqatubwUvkCGiQ0nDFi1+g7r81s6qdX1vnirk/qm7W2m2Kw0E3G+O12RnZKCuY4LW7ZxYtqtu97dRRCk=
