/* Customize tooltips. */
QToolTip {
    background-color: rgb(252,252,210);
    border-color: darkslategray;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

/* Make text in message boxes selectable. */
QMessageBox {
    /* LinksAccessibleByMouse | TextSelectableByMouse */
    messagebox-text-interaction-flags: 5;
}
