#! /usr/bin/make -f
#
#	Build script for the KVIrc 3 debian package.
#	Using Common Debian Build System (CDBS).
#

include /usr/share/cdbs/1/rules/simple-patchsys.mk

	#
	# Update Makefiles
	#
	# This is done outside of debian/rules now, so that Debian autobuilders
	# will all be building the same source, with no deviation because they
	# might have an outdated autotools-dev version.
common-configure-impl::
#	./autogen.sh

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

	#
	#	Specify extra configure options:
	#
DEB_CONFIGURE_EXTRA_FLAGS := --with-fno-rtti --with-aa-fonts --with-big-channels
DEB_CONFIGURE_EXTRA_FLAGS += --enable-perl --with-pic --enable-wall --mandir=$(DEB_CONFIGURE_MANDIR)

	#
	#	If debug is specified, turn it on
	#
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	DEB_CONFIGURE_EXTRA_FLAGS += --enable-debug  --with-memory-profile --with-memory-checks
else
	#DEB_CONFIGURE_EXTRA_FLAGS += --enable-optimisation=3
	#ifneq (,$(findstring 86,$(DEB_BUILD_GNU_CPU)))
	#	DEB_CONFIGURE_EXTRA_FLAGS +=--with-ix86-asm
	#endif
endif

	#
	#   Don't compress these files
	#
DEB_COMPRESS_EXCLUDE := .kvs

	#
	#	Run dh_shlibdeps with the correct options
	#
DEB_SHLIBDEPS_INCLUDE_kvirc := debian/kvirc$(DEB_CONFIGURE_PREFIX)/lib
DEB_SHLIBDEPS_LIBRARY_kvirc := kvirc

	#
	#	Documentation to include for each package
	#
DEB_INSTALL_DOCS_kvirc      := FAQ README TODO
DEB_INSTALL_DOCS_kvirc-dev  := doc/scriptexamples
DEB_INSTALL_DOCS_ALL        := -XCVS -X.cvsignore

common-install-indep::
	#
	#	Change the name of the COPYING file to appease lintian
	#
	mv $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/kvirc/3.2/license/COPYING \
	   $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/kvirc/3.2/license/EULA
	#
	#	Move KDE service files to a better position
	#
	mv $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/services \
	   $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/kvirc/3.2/
