[Desktop Entry]
BinaryPattern=
Name=KVIrc 4
GenericName=IRC Client
Comment=Connect to Internet Relay Chat
Exec=kvirc4 -m %u
Icon=kvirc
MimeType=application/x-kva;application/x-kvt;
Categories=Qt;Network;IRCClient;
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-StartupNotify=true
