[Desktop Entry]
BinaryPattern=
GenericName=IRC Client
Comment=Connect to Internet Relay Chat
MimeType=
Exec=kvirc -m %u
Icon=kvirc
MapNotify=true
Name=KVIrc 3
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Path=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-StartupNotify=true
