name: Build Windows

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
    tags:
      - '*'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build-windows:
    runs-on: windows-latest
    # https://github.com/actions/runner-images/blob/main/images/windows/Windows2025-Readme.md

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup devcmd
        uses: ilammy/msvc-dev-cmd@v1

      # https://learn.microsoft.com/en-us/vcpkg/users/binarycaching#gha
      - name: Set variables for vcpkg
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', (process.env.ACTIONS_CACHE_URL || ''));
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', (process.env.ACTIONS_RUNTIME_TOKEN || ''));

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.10.0
          modules: qt5compat qtmultimedia
          cache: true

      - name: Install dependencies with vcpkg
        run: |
          # create our own triplet
          New-Item `
            -Force `
            -ItemType File `
            -Path "${{ env.vcpkg_path }}/triplets_overlay/x64-windows-release.cmake"
          Add-Content `
            -Path "${{ env.vcpkg_path }}/triplets_overlay/x64-windows-release.cmake" `
            -Value @("set(VCPKG_TARGET_ARCHITECTURE x64)",
              "set(VCPKG_LIBRARY_LINKAGE dynamic)",
              "set(VCPKG_CRT_LINKAGE dynamic)",
              "set(VCPKG_BUILD_TYPE release)")
          c:/vcpkg/vcpkg.exe install `
            --binarysource="clear;x-gha,readwrite" `
            --clean-after-build `
            --overlay-triplets="${{ env.vcpkg_path }}/triplets_overlay" `
            gettext[core,tools]:x64-windows-release `
            openssl:x64-windows-release `
            zlib:x64-windows-release

      - name: Patch Perl for MSVC support
        run: |
          # Strawberry perl doesn't support MSVC, but we force the support.
          cd '${{github.workspace}}'
          type dist\windows\patches\perl.txt >> c:\Strawberry\perl\lib\core\config.h

      # To debug add -DCMAKE_VERBOSE_MAKEFILE=1 `
      - name: Configure CMake
        run: |
          cd '${{github.workspace}}'
          mkdir build
          cd build
          cmake .. `
            -G "NMake Makefiles" `
            -DCMAKE_TOOLCHAIN_FILE="c:/vcpkg/scripts/buildsystems/vcpkg.cmake" `
            -DVCPKG_TARGET_TRIPLET=x64-windows-release `
            -DCMAKE_BUILD_TYPE=Release `
            -DWANT_KDE=NO `
            -DWANT_OPENSSL=YES `
            -DWANT_PERL=YES `
            -DWANT_PHONON=NO `
            -DWANT_PYTHON=YES `
            -DWANT_QTWEBENGINE=NO

      - name: Build
        run: |
          cd '${{github.workspace}}\build'
          cmake --build .

      - name: Install
        run: |
          cd '${{github.workspace}}\build'
          cmake --install .

      - name: Deployt Qt
        run: |
          cd '${{github.workspace}}\build'
          windeployqt "--dir" "release/qt-plugins" "--libdir" "release/" "release/kvirc.exe" "release/modules/"; if (!$?) { exit 1 }

      - name: Deploy 3rd party dlls
        run: |
          cd '${{github.workspace}}\build'
          copy c:\vcpkg\installed\x64-windows-release\bin\zlib1.dll release; if (!$?) { exit 1 }
          copy c:\vcpkg\installed\x64-windows-release\bin\libcrypto*.dll release; if (!$?) { exit 1 }
          copy c:\vcpkg\installed\x64-windows-release\bin\libssl*.dll release; if (!$?) { exit 1 }

      - name: Detect version
        shell: bash
        run: |
          cd '${{github.workspace}}'
          kvi_version=$(grep -i "^set(VERSION_RELEASE .*)$" CMakeLists.txt | egrep -o '[0-9\.]' | tr -d '\n')
          git_desc=$(git describe --always)
          echo "exe_name=KVIrc-$kvi_version-dev-$(date +%F)-git-$git_desc" >> "$GITHUB_ENV"

      - name: Install NSIS
        uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: '3.11'

      - name: Add StdUtils plugin to NSIS
        run: |
          (New-Object Net.WebClient).DownloadFile('https://github.com/lordmulder/stdutils/releases/download/1.14/StdUtils.2018-10-27.zip', 'c:\StdUtils.2018-10-27.zip')
          7z e -o"C:\Program Files (x86)\NSIS\Plugins\x86-unicode" c:\StdUtils.2018-10-27.zip Plugins\Unicode\*.dll
          7z e -o"C:\Program Files (x86)\NSIS\Include" c:\StdUtils.2018-10-27.zip Include\*.nsh

      - name: Create setup package
        run: |
          cd '${{github.workspace}}\build'
          makensis.exe KVIrc.nsi
          move KVIrc.exe ${{ env.exe_name }}.exe

      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.exe_name }}.exe
          path: build/${{ env.exe_name }}.exe